

.poke__welcome{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 2em;
}

.poke__hello{
    color:#DD1A1A;
    font-size: 35px;
}


.poke__img{
    width: 400px;
}

.poke__init{
    padding-top: 1em;
    max-width: 450px;
}