.poke{  
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
}

.poke__header{
    width: 100%;
    height: 65px;
    background-color: #DD1A1A;
    color: #DD1A1A;
}
.poke__ball{
    padding-top: -2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20em;
    gap: 2em;
}

.poke__ball1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
}

.poke__ball2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
}

.poke__ball3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
}

.poke__ball4{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #4d4d4d;
    position: absolute;
    padding-left: 2em;
}

.end__black{
    width: 100%;
    height: 65px;
    margin-top: -2em;
    background-color: #000000;
}

.poke__wel{
    display: flex;
    width: 290px;
    z-index: 1;
    margin-right: 27em;
    align-items: center;
 
}

.poke__saludo{
margin-top: 2em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;

}


.pokedex__name{
    margin-top: 2em;
    font-size: 28px;
    font-weight: bolder;
    color: #DD1A1A;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    justify-items: center;
    align-items: center;
}

.poke_find{
    font-size: 20px;
    letter-spacing: 0.1rem;
}


@media (min-width: 767px){
    .poke__wel{
        display: flex;
        flex-direction: row;
        margin-left: -80em;
    }
    .poke__ball{
        margin-left: 60em;
    }
    .poke__header{
        width: 100%;
        height: 65px;
    }

    .poke__wel{
        width: 360px;

     
    }

    }
