
.pokemon__header {
  height: 180px;
  position: relative;
  background-color: darkgrey;
}

.pokemon__sprite{
  max-width: 250px;
}

.name__poke{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-transform: capitalize;
  gap: 4em;
  font-size: 22px;
  
}

.poke__block{
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.poke__info{
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke__value{
  font-weight: bold;
  font-size: 15px;
  
}

.poke__block2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5em;
  
}

.poke__value2{
  font-weight: bold;
  font-size: 20px;

}

.poke__block3{
  display: flex;
  flex-direction: row;
  gap: 4em;
  justify-content: space-evenly;
  margin-top: -1em;
  padding: 1em;
}

.list__info{
  margin-right: -2em;
  display: flex;
  gap: 0.5em;
  height: 2em;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 16px;
  align-items: center;
}

.type__pokemon{
  display: flex;
  justify-content: center;
  padding: 0.4em;
  width: 6em;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.type__pokemon2{
  display: flex;
  justify-content: center;
  padding: 0.2em;
  width: 6em;
  border: 0.1em solid #000;
  justify-content: center;
  align-items: center;

}

.stats__poke{
  margin: 2em;
}

.all__stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poke__bar{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 10em;
}

.progress_bar{
  width: 14em;
}

.pokemon__stats-specific1{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em;
  margin-left: 0.8em;
  margin-right: 1.5em;
  font-weight: bold;


}
.progress_bar::-webkit-progress-value {
  background-color: #f58d0493;
  border-radius: 10px;
}
.progress_bar::-moz-progress-bar {
  background-color: #fce302;
  border-radius: 10px;
}
.progress_bar::-ms-fill {
  background-color: #ffcb20;
  border-radius: 10px;
}
.progress_bar{
  height: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.progress_bar::-webkit-progress-bar {
  background-color: #DAD5D5;
  border-radius: 10px;
}

.pokemon__move{
  padding-top: 4em;
  margin-left: 1em;
}

.list__moves{
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 0.5em;
}
.list__moves-items{
  background-color: rgba(197, 196, 196, 0.699);
  padding: 10px;
  margin: 4px;
  border-radius: 5em;
}


.colorb-grass{
  background-color: #ABDAC6;
}

.colorb-water{
  background-color: #1479FB;
}

.colorb-bug{
  background-color: #3BB039;
}

.colorb-ice{
  background-color: #64CBF5 ;
}

.colorb-rock{
  background-color: #8D8D94;
}

.colorb-fairy{
  background-color:#C23867;
}

.colorb-fire{
  background-color:#E35825;
}

.colorb-poison{
  background-color:#A564E3;
}
.colorb-normal{
  background-color: #BC6B7C;
}

.colorb-ghost{
  background-color:#454AA8;
}

.colorb-fighting{
  background-color:#F1613C
}

.colorb-psychic{
  background-color: #D13E3E;
}
.colorb-electric{
  background-color:rgb(226, 211, 4);
}

.colorb-ground{
  background-color: #b87818;
}

.colorb-dragon{
  background-color:#56A4AE;
}

.colorb-dark{
  background-color:#0D1211;
}

@media (min-width: 767px){


  .pokemon__stats-specific1{
    margin-left: 25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-right: 20em;
    
    z-index: 1;
  }

   .progress_bar{
    width: 20em;
    margin-left: 3em;
   }


  .pokemon__move{
    padding-left: 1em;
  }
  }

