
.pokemon__header {
  height: 180px;
  position: relative;
  background-color: darkgrey;
}

.pokemon__sprite{
  max-width: 250px;
}

.name__poke{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-transform: capitalize;
  gap: 4em;
  font-size: 22px;
  
}

.poke__block{
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.poke__info{
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke__value{
  font-weight: bold;
  font-size: 15px;
}

.poke__block2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5em;
}

.poke__value2{
  font-weight: bold;
  font-size: 20px;
}

.poke__block3{
  display: flex;
  flex-direction: row;
  gap: 4em;
  justify-content: space-evenly;
  margin-top: -1em;
}

.list__info{
  display: flex;
  gap: 1em;
  height: 2em;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 18px;

}

.stats__poke{
  margin: 50px;
}

.all__stats{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.progressbar{
  position: absolute;
  display: block;
  align-items: center;
  right: 60px;
}

.pokemon__stats-specific2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.progress_bar::-webkit-progress-value {
  background-color: #ffa909;
  border-radius: 10px;
}
.progress_bar::-moz-progress-bar {
  background-color: #fce302;
  border-radius: 10px;
}
.progress_bar::-ms-fill {
  background-color: #ffcb20;
  border-radius: 10px;
}
.progress_bar{
  height: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.progress_bar::-webkit-progress-bar {
  background-color: #DAD5D5;
  border-radius: 10px;
}

.pokemon__move{
  margin-top: 1em;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  padding: 1rem;
}

.list__moves{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 0.5em;
}
.list__moves-items{
  background-color: rgba(197, 196, 196, 0.699);
  padding: 10px;
  margin: 4px;
  border-radius: 5em;
}