

.pokemon__header {
    height: 180px;
    position: relative;
    background-color: darkgrey;
}

.pokemon__sprite{
    max-width: 300px;
}

.poke__name{
    text-transform: capitalize;
}

.poke_list{
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 20px;
    font-weight: 50px ;
    color: rgb(1, 1, 29);
}
.poke__weight{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

}

.poke__height{

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

