.poke__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
   
}

.poke__select{
    padding: 0.2em;
    width: 210px;
    background-color: #DD1A1A;
    text-align: center;
    color: #ffff;
    text-transform: capitalize;
    border-radius: 5em;
    cursor: pointer;
}



@media (min-width: 760px) {
    .poke__form {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        gap: 10em;
    }
    
    .poke__select{
        border-bottom: none;
    }
}