.poke__error{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3em;
}

.poke__h1{
    font-size: 30px;
    color: #DD1A1A;
}

.poke__gif{
    padding-top: 2em;
    max-width: 480px;
}